[Unit]
Description=Gunicorn daemon for QolloQ
After=network.target postgresql.service

[Service]
User=qolloq
Group=www-data
WorkingDirectory=/home/qolloq/qolloq
Environment=DJANGO_SETTINGS_MODULE=config.settings.production
ExecStart=/home/qolloq/qolloq/venv/bin/gunicorn \
    --workers 2 \
    --forwarded-allow-ips="*" \
    --bind unix:/home/qolloq/qolloq/qolloq.sock \
    --access-logfile /var/log/qolloq/access.log \
    --error-logfile /var/log/qolloq/error.log \
    config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
